<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Dogs</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Dogs</h1>

        <table id="dogs_table" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Birth Date</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <% @dogs.each do |dog| %>
                    <tr>
                        <td><%= dog.name %></td>
                        <td><%= dog.breed %></td>
                        <td><%= dog.birth_date %></td>
                        <td><%= dog.weight %> lbs</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</body>
</html>